<html>
<head>
<meta charset="UTF-8">
<title>Weight Recorder</title>
</head>

<body>
{{#message}}
<div stype="background-color: red">{{message}}</div>
{{/message}}

{{user.name}}さん、こんにちは

<h2>体重の入力</h2>

<form method="POST" action="/new_record">
  <input type="text" name="weight" /> Kg
  <input type="submit" value-"登録" />
</form>

<ul>
{{#records}}
<li>{{time}}: {{weight}}</li>
{{/records}}
</ul>

</body>

</html>
